* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap);


.container {
	width: 1600px;
	margin: 0 auto;
}

.footer {
	display: flex;
	flex-direction: column;
	height: 778px;
	background: #474747;
	width: 100%;
	align-items: center;
	gap: 130px 0;
}

.footer-content {
	width: 1296px;
	height: 419px;
	margin: 0 auto;
	margin-top: 120px;
	display: flex;
	gap: 0 135px;
}

.bistro-column {
	width: 293px;
	display: flex;
	flex-direction: column;
	gap: 30px 0;
}

.logo-group {
	display: flex;
	align-items: center;
	gap: 0 13px;
}

.logo {
	width: 56px;
	height: 55px;
}

.logo-text {
	color: #FFF;
	font-family: Playfair Display;
	font-size: 32.67px;
	font-style: italic;
	font-weight: 600;
	line-height: 29.333px;
	letter-spacing: 0.5px;
}


.logo-frase {
	color: var(--neutral-04, #ADB29E);

	/* Body/16px/Regular */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

.social {
	display: flex;
	gap: 0 12px;
}

.social .icon {
	width: 35px;
	height: 35px;
}


.pages-column {
	width: 330px;
	display: flex;
	gap: 0 120px;
}

.col {
	list-style-type: none;
	display: flex;

	flex-direction: column;
	gap: 20px 0;
}

.col li {
	color: var(--neutral-03, #DBDFD0);

	/* Body/16px/Regular */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.9px;
}

.col li:first-child,
.follow {
	color: var(--neutral-01, #FFF);
	margin-bottom: 20px;

	/* Body/16px/Bold */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	/* 150% */
}

.follow-us-column {
	width: 403px;
	display: flex;
	flex-direction: column;
	gap: 40px 0;
}

.fotos {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}


.copyright {
	color: var(--neutral-04, #ADB29E);
	font-family: 'DM Sans', sans-serif;
	/* Body/16px/Regular */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
}
.header{
    width:100%;
    height:950px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.header__info{
    width:100%;
    height:45px;
    background: #474747;
    display: flex;
    justify-content: center;
}
.header__info--help-container{
    width:1300px;
    height:45px;
    display: flex;
    justify-content: space-between;
}

.header__info-block{
    height:100%;
    width:360px;
    display: flex;
    align-items:center;
    text-align:center;
    gap:10px;
}
.header__info-container{
    display: flex;
    width:50%;
}
.header__a{
    text-indent: -20px;
}
.header__info-block.Second{
    justify-content: flex-end;
    gap:2.5px;
}
.header__info-background-image{
    width:27px;
    height:27px;
    background-image:url("./Img/BG.png");
    display: flex;
    justify-content: center;
    align-items:center;
}
.header__nav{
    width:1300px;
    height:105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav_logo-container{
    width:350px;
    height:55px;
    display: flex;
    align-items: center;
}
.header__nav_buttons-container{
    width:420px;
    height:55px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.container__button{
    padding: 4px 16px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
transition:1s;
border-radius: 34px;
}
.container__button:hover{
    transform:1s;
    border-radius: 34px;
background: #DBDFD0;
filter: drop-shadow(1.5px 1.5px);
}
.header__nav_button{
    width: 147px;
    height: 55px;
    border-radius: 118px;
border: 1.5px solid var(--neutral-07, #2C2F24);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
font-family: 'DM Sans', sans-serif;
display: flex;
align-items: center;
justify-content: center;
transition: 1s;

}
.header__nav_button:hover{
    transform: 1s;
    z-index: 500;
    background: #DBDFD0;
    border:gray;
    filter: drop-shadow(1.5px 1.5px);
}
.header__body{
    width:100%;
    height:800px;
    background-image: url("./Img/image\ 110.png");
    background-repeat: no-repeat;
    background-size:100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:32px;
}
.header__body_name{
    color: var(--neutral-07, #2C2F24);
text-align: center;
font-family: 'Playfair Display', serif;
max-width:600px;
    font-size: 100px;
font-style: normal;
font-weight: 400;
line-height: 96px; /* 96% */
}
.header__body_text{
    color: var(--neutral-07, #2C2F24);
text-align: center;
font-family: 'DM Sans', sans-serif;
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.header__body_buttons{
    margin-top:8px;
    width:350px;
    height:64px;
    align-items:center;

    display: flex;
    justify-content: space-between;

}
.header__body-button{
    display: flex;
padding: 20px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 118px;
font-family:'DM Sans', sans-serif;
color:white;
background: #AD343E;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
transition: 1s;
}
.header__body-button:hover{
    border-radius: 118px;
    border: 1.5px solid var(--neutral-07, #2C2F24);
    color:#000;
    background: transparent;
    transform: 1s;
}
.header__body-button:nth-child(2){
    border-radius: 118px;
border: 1.5px solid var(--neutral-07, #2C2F24);
color:#000;
transition: 1s;
background: transparent;
}
.header__body-button:nth-child(2):hover{
    transform: 1s;
    display: flex;
    padding: 20px 32px;
    filter: drop-shadow(1.5px 1.5px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 118px;
    font-family:'DM Sans', sans-serif;
    color:white;
    background: #AD343E;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.logo__container-a{
    color:#474747;
    font-family: 'Playfair Display', serif;
    font-size: 42.667px;
font-style: italic;
font-weight: 600;
line-height: 29.333px; /* 68.75% */
letter-spacing: -0.4px;
}
.menu{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:64px;
}


.menu__name{
    font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: 60.5px;
font-family: 'Playfair Display', serif;
margin-bottom:50px;
}
.menu__container{
    width:1300px;
    height:375px;
    display: flex;
    justify-content: space-between;
    border-radius:10px;
}
.menu__container-blocks{
    width:300px;
    height:375px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:30px;
    border: 2.5px solid #DBDFD0;
}

.background-image{
    width:100px;
    height:100px;
    background-image:url("./Img/001.png");
    display: flex;
    justify-content: center;
    align-items:center;
}

.block__name{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
    letter-spacing: -0.72px;
}

.block__text{
    margin-top:-15px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: center;
    max-width:250px;
}

.block__explore{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    color:#AD343E;
    cursor: pointer;
}

.block__explore::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    top: 228%;

    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: #DBDFD0;
    color:#DBDFD0;
  }
  
  
  
  .block__explore:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
.FoodAbout{
    background: #F9F9F7;
    width:100%;
    height:856px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.about{
    width:1300px;
    height:600px;
    border-radius:10px;
    display: flex;

}

.about__Block{
    width:50%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.about__image{
    position: absolute;
    border-radius: 25px;
    margin-bottom:35px;
    margin-right:50px;
}
.about__BlockSecond{
    width:45%;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap:24px;
    margin-left:65px;
    background: transparent;

}
.button{
    width:180px;
    height:64px;
    margin-top: 16px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    color: var(--neutral-06, #414536);
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 118px;
    border: 1.5px solid var(--neutral-07, #2C2F24);
    cursor: pointer;
    transition: 1s;
}
.button:hover{
    transform: 1s;
    filter: drop-shadow(1.5px 1.5px);
    z-index: 500;
    color:gray;
    background: #DBDFD0;
    border:gray;
}
.About__Block_Second-name{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
font-style: normal;
font-weight: 500;
line-height: 60.5px; /* 110% */
max-width: 550px;
}
.About__Block_Second-textone{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    color: var(--neutral-07, #2C2F24);
    max-width: 550px;
}

.About__Block_Second-texttwo{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: var(--neutral-06, #414536);
    max-width: 550px;
}


.about__Block--First-container{
    border-radius: 12px;
    background: #474747;
    width: 411px;
    height: 321px;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:25px;
}
.help-container{
    width:80%;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap:20px;
}
.container__name{
    
    font-family: 'DM Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 125% */
letter-spacing: -0.72px;
color:white;
margin-bottom:20px;
}

.container__number{
    
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
color:white;
}
a{
    margin-left:25px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
color:white;
text-decoration: none;
}

.container__email{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
color:white;
}
.container__position{
font-family: 'DM Sans', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
color:white;
max-width:300px;

}