* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap);


.container {
	width: 1600px;
	margin: 0 auto;
}

.footer {
	display: flex;
	flex-direction: column;
	height: 778px;
	background: #474747;
	width: 100%;
	align-items: center;
	gap: 130px 0;
}

.footer-content {
	width: 1296px;
	height: 419px;
	margin: 0 auto;
	margin-top: 120px;
	display: flex;
	gap: 0 135px;
}

.bistro-column {
	width: 293px;
	display: flex;
	flex-direction: column;
	gap: 30px 0;
}

.logo-group {
	display: flex;
	align-items: center;
	gap: 0 13px;
}

.logo {
	width: 56px;
	height: 55px;
}

.logo-text {
	color: #FFF;
	font-family: Playfair Display;
	font-size: 32.67px;
	font-style: italic;
	font-weight: 600;
	line-height: 29.333px;
	letter-spacing: 0.5px;
}


.logo-frase {
	color: var(--neutral-04, #ADB29E);

	/* Body/16px/Regular */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

.social {
	display: flex;
	gap: 0 12px;
}

.social .icon {
	width: 35px;
	height: 35px;
}


.pages-column {
	width: 330px;
	display: flex;
	gap: 0 120px;
}

.col {
	list-style-type: none;
	display: flex;

	flex-direction: column;
	gap: 20px 0;
}

.col li {
	color: var(--neutral-03, #DBDFD0);

	/* Body/16px/Regular */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: 0.9px;
}

.col li:first-child,
.follow {
	color: var(--neutral-01, #FFF);
	margin-bottom: 20px;

	/* Body/16px/Bold */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	/* 150% */
}

.follow-us-column {
	width: 403px;
	display: flex;
	flex-direction: column;
	gap: 40px 0;
}

.fotos {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}


.copyright {
	color: var(--neutral-04, #ADB29E);
	font-family: 'DM Sans', sans-serif;
	/* Body/16px/Regular */
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.vse {
    width: 1600px;
    height: 868px;
    background: #ffffff;
}



p:nth-of-type(1) {
    font-family: Playfair Display;
    font-size: 55px;
    font-style: normal;
    width: 550px;
    margin-left: 152px;
    margin-top: 120px;
}

.boxes {
    margin-left: 152px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.img_box {
    margin-top: 64px;
    width: 306px;
    height: 320px;

}

h3 {
    color: var(--neutral-07, #2C2F24);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 30px;
}

.p {

    color: var(--neutral-06, #6a6b69);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.shef {
    width: 1600px;
    height: 868px;
    background: var(--neutral-02, #F9F9F7);
}

.shef img:nth-of-type(1) {
    margin-top: 120px;
    margin-left: 152px;
}

.shef img:nth-of-type(2) {
    position: absolute;
    margin-top: 150px;
    margin-left: 24px;
}

.shef img:nth-of-type(3) {
    position: absolute;
    margin-top: 507px;
    margin-left: 24px;
}

p2 {
    width: 461px;
    position: absolute;
    margin-top: 249px;
    margin-left: 404px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 60.5px;
}

p3 {
    color: var(--neutral-06, #414536);
    width: 400px;
    position: absolute;
    margin-top: 390px;
    margin-left: 404px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.box_svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 65px;
    background: #AD343E;

}

svg {
    color: #2C2F24;
    width: 15.07px;
    height: 15.07px;
    flex-shrink: 0;

}

.svg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: 300px;
    margin-top: -250px;
    margin-left: 990px;
}

p5 {
    color: var(--neutral-07, #2C2F24);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    position: absolute;
    width: 300px;
    margin-left: 370px;
}